{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Travel Wishlist</title>
        <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
        <link rel="stylesheet" href="{% static 'travel_wishlist/styles.css' %}" type="text/css">
    </head>
    <body>

    <hi>Where do you want to go?</hi>

        {% block content %}
        {% endblock %}

    </hi>

    <div>
        <p>A travel wish list site built with Django.</p>

        <a class="nav-link" href="{% url 'place_list' %}">Your Wishlist</a>
        <a class="nav-link" href="{% url 'places_visited' %}">Places you've visited</a>

    </div>

    </body>
</html>